<div class="row">
  <div class="col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4  offset-xl-4 col-xl-3">
    <h1 class="text-center">Wachtwoord vergeten</h1>
    <form [formGroup]="wachtwoordVergetenFormulier" (ngSubmit)='verzendEmail()'>
      <div class="alert alert-danger" role="alert"
        *ngIf="wachtwoordVergetenFormulier.get('email')['errors'] && wachtwoordVergetenFormulier.get('email').touched">
        <p class="marginBottom0">
          {{ getErrorMessage(wachtwoordVergetenFormulier.get('email')['errors']) }}
        </p>
      </div>
      <input placeholder="Emailadres" type="email" class="form-control" id="email" formControlName="email">
      <button type="submit" class="btn btn-primary col-12 marginTop10"
        [disabled]='!wachtwoordVergetenFormulier.valid'>Email
        versturen</button>
    </form>

  </div>
</div>
