<ng-container *ngIf="item != null">
  <h1>Item: {{item.naam}}</h1>
  <table class="table-bordered">
    <tr>
      <th>Naam:</th>
      <td>{{item.naam}}</td>
    </tr>
    <tr>
      <th>Beschikbaar:</th>
      <td> <i *ngIf="item.beschikbaar; else kruis" class="fas fa-check"></i></td>
    </tr>
    <tr *ngIf="item.gearchiveerd">
      <th>Gearchiveerd:</th>
      <td><b>OPGELET: </b> Dit item is gearchiveerd!</td>
    </tr>
    <tr>
      <th>Toegevoegd op:</th>
      <td>{{item.toegevoegdOp | date: "hh:mm - dd/MM/yyyy" }}</td>
    </tr>
    <tr>
      <th>Qr-code:</th>
      <td id="qr">
        <qr-code [value]=item.naam [size]="150"></qr-code>
        <button class="btn btn-primary" (click)="downloadQrCode()">download</button>
      </td>
    </tr>
    <tr *ngIf="!item.beschikbaar">
      <th>Ontleend door:</th>
      <td>
        {{item.ontleendDoor()}}
      </td>
    </tr>
    <tr *ngIf="!item.beschikbaar">
      <th>Ontleend op:</th>
      <td>
        {{item.ontleendOp() | date: "hh:mm - dd/MM/yyyy" }}
      </td>
    </tr>
  </table>
</ng-container>

<ng-template *ngIf="itemAanHetLaden">
  <div class="row">
    <div class="col-2 offset-5 text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #kruis>
  <i class="fas fa-times"></i>
</ng-template>
