<ng-container *ngIf="item != null">
  <table class="table-bordered marginTop10 marginBottom1O">
    <tr>
      <th>Naam:</th>
      <td>{{item.naam}}</td>
    </tr>
    <tr>
      <th>Beschikbaar:</th>
      <td>
        <i *ngIf="item.beschikbaar" class="fas fa-check green"></i>
        <i *ngIf="!item.beschikbaar" class="fas fa-times red"></i></td>
    </tr>
    <tr *ngIf="item.gearchiveerd">
      <th>Gearchiveerd:</th>
      <td><b>OPGELET: </b> Dit item is gearchiveerd!</td>
    </tr>
    <tr>
      <th>Toegevoegd op:</th>
      <td>{{item.toegevoegdOp | date: "hh:mm - dd/MM/yyyy" }}</td>
    </tr>
    <tr>
      <th>Categorie:</th>
      <td>{{item.categorie}}</td>
    </tr>
    <tr>
      <th>Merk:</th>
      <td>{{item.merk ? item.merk : "/"}}</td>
    </tr>
    <tr>
      <th>Materiaal:</th>
      <td>{{item.materiaal ? item.materiaal : "/"}}</td>
    </tr>
    <tr>
      <th>Inhoud:</th>
      <td>{{item.inhoud ? item.inhoud : "/"}}</td>
    </tr>
    <tr>
      <th>Aankoop datum:</th>
      <td *ngIf="item.aankoopDatum">{{item.aankoopDatum | date: "dd/MM/yyyy"}}</td>
      <td *ngIf="!item.aankoopDatum">/</td>
    </tr>
    <tr>
      <th>Qr-code:</th>
      <td id="qr">
        <qr-code [value]=item.naam [size]=""></qr-code>
        <button class="btn btn-primary" (click)="downloadQrCode()">Download</button>
      </td>
    </tr>
    <tr *ngIf="!item.beschikbaar">
      <th>Ontleend door:</th>
      <td>
        {{item.ontleendDoor()}}
      </td>
    </tr>
    <tr *ngIf="!item.beschikbaar">
      <th>Ontleend op:</th>
      <td>
        {{item.ontleendOp() | date: "hh:mm - dd/MM/yyyy" }}
      </td>
    </tr>
  </table>
</ng-container>

<ng-template *ngIf="itemAanHetLaden">
  <div class="row">
    <div class="col-2 offset-5 text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
