<ng-container *ngIf="item != null">
  <table class="table-bordered marginTop10 marginBottom1O">
    <tr>
      <th>{{'naam' | translate}}:</th>
      <td>{{item.naam}}</td>
    </tr>
    <tr>
      <th>{{'beschikbaar' | translate}}:</th>
      <td>
        <i *ngIf="item.beschikbaar" class="fas fa-check green"></i>
        <i *ngIf="!item.beschikbaar" class="fas fa-times red"></i></td>
    </tr>
    <tr *ngIf="item.gearchiveerd">
      <th>{{'gearchiveerd' | translate}}:</th>
      <td>{{'opgelet' | translate}}: {{'itemGearchiveerd' | translate}}</td>
    </tr>
    <tr>
      <th>{{'toegevoegdOp' | translate}}:</th>
      <td>{{item.toegevoegdOp | date: "hh:mm - dd/MM/yyyy" }}</td>
    </tr>
    <tr>
      <th>{{'categorie' | translate}}:</th>
      <td>{{item.categorie}}</td>
    </tr>
    <tr>
      <th>{{'merk' | translate}}:</th>
      <td>{{item.merk ? item.merk : "/"}}</td>
    </tr>
    <tr>
      <th>{{'materiaal' | translate}}:</th>
      <td>{{item.materiaal ? item.materiaal : "/"}}</td>
    </tr>
    <tr>
      <th>{{'inhoud' | translate}}:</th>
      <td>{{item.inhoud ? item.inhoud : "/"}}</td>
    </tr>
    <tr>
      <th>{{'aankoopDatum' | translate}}:</th>
      <td *ngIf="item.aankoopDatum">{{item.aankoopDatum | date: "dd/MM/yyyy"}}</td>
      <td *ngIf="!item.aankoopDatum">/</td>
    </tr>
    <tr>
      <th>{{'qrCode' | translate}}:</th>
      <td id="qr">
        <qr-code [value]=item.naam [size]=""></qr-code>
        <button class="btn btn-primary" (click)="downloadQrCode()">Download</button>
      </td>
    </tr>
    <tr *ngIf="!item.beschikbaar">
      <th>{{'ontleendDoor' |translate }}:</th>
      <td>
        {{item.ontleendDoor()}}
      </td>
    </tr>
    <tr *ngIf="!item.beschikbaar">
      <th>{{'ontleendOp' | translate}}:</th>
      <td>
        {{item.ontleendOp() | date: "hh:mm - dd/MM/yyyy" }}
      </td>
    </tr>
  </table>
</ng-container>

<ng-template *ngIf="itemAanHetLaden">
  <div class="row">
    <div class="col-2 offset-5 text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only" translate>Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
