<div class="row topbar align-middle">
  <div class="col-3 col-md-2">
    <img src="../../assets/images/ananau-logo.png" alt="" />
  </div>
  <div class="col-6 col-md-7">
    <app-taal-wijzigen></app-taal-wijzigen>
  </div>
  <div class="col-3 text-right verticalAlign" *ngIf="aangemelde; else nietaangemeld">
    <a class="btn btn-primary geleButton" (click)="afmelden()"><i class="fas fa-sign-out-alt"></i><span
        class="d-none d-xs-inline d-sm-inline d-md-inline d-lg-inline d-xl-inline">{{'afmelden' | translate}}</span></a>
  </div>
</div>
<ng-content></ng-content>

<ng-template #nietaangemeld>
  <div class="col-3 text-right verticalAlign">
    <a class="btn btn-primary geleButton" *ngIf="(router.url == '/register') || (router.url  =='/wachtwoordvergeten')"
      [routerLink]="['/login']" id="login">{{'login' | translate}}</a>
    <a class="btn btn-primary geleButton" *ngIf="(router.url == '/login')" [routerLink]="['/register']"
      id="register">{{'registreer' | translate}}</a>
  </div>
</ng-template>
