<div class="row topbar align-middle">
  <div class="col-6">
    <img src="../../assets/images/ananau-logo.png" alt="" />
  </div>
  <div class="col-6 text-right verticalAlign" *ngIf="aangemelde; else nietaangemeld">
    <a class="btn btn-primary geleButton" (click)="afmelden()"><i class="fas fa-sign-out-alt"></i><span
        class="d-none d-xs-inline d-sm-inline d-md-inline d-lg-inline d-xl-inline"> Afmelden</span></a>
  </div>
</div>
<ng-content></ng-content>

<ng-template #nietaangemeld>
  <div class="col-6 text-right verticalAlign">
    <a class="btn btn-primary geleButton" *ngIf="(router.url == '/register') || (router.url  =='/wachtwoordvergeten')"
      [routerLink]="['/login']" id="login">Login</a>
    <a class="btn btn-primary geleButton" *ngIf="(router.url == '/login')" [routerLink]="['/register']"
      id="register">Registreer</a>
  </div>
</ng-template>
