<div class="row topbar align-middle">
  <div class="col-2">
    <img src="../../assets/images/ananau-logo.png" alt="" />
  </div>
  <div class="col-2 verticalAlign">
    <app-language></app-language>
  </div>
  <div class="offset-5"></div>
  <div class="col-3 verticalAlign" *ngIf="aangemelde; else nietaangemeld">
    <p>Hi, {{ aangemelde.voornaam }} | <a (click)="afmelden()">Afmelden</a></p>
  </div>
</div>
<ng-content></ng-content>

<ng-template #nietaangemeld>
  <a [routerLink]="['/login']" id="login">Login</a> | <a [routerLink]="['/register']" id="register">Registreer</a>
</ng-template>
