<ng-container *ngIf="!loading; else loadingError">
  <div class="row">
    <app-sidemenu class="col-12 col-md-2"></app-sidemenu>
    <div class="col-12 col-md-10">
      <h1 translate>scanItemIn</h1>
      <div class="alert alert-danger" role="alert" [hidden]="errorMessage == null">
        {{ errorMessage }}
      </div>
      <div class="alert alert-success" role="alert" [hidden]="succesMessage == null">
        {{ succesMessage }}
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <zxing-scanner (scanSuccess)="gekozenItem($event)"></zxing-scanner>
        </div>
        <div class="col-12 col-md-5">
          <form [formGroup]="scanFormulier">
            <label id="id">{{'geefNaamIn' | translate}}</label>
            <input formControlName="naam" type="text" id="zoekVeld" class="form-control" />
          </form>
          <table class="table" *ngIf="!itemNamenAanHetInladen && geselecteerdItem ==null">
            <tbody>
              <tr *ngFor="let item of zoekResultaat" class="tableHoverLink" (click)="gekozenItem(item.naam)">
                <td>{{ item.naam }}</td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="itemNamenAanHetInladen">
            <div class="spinner-border spinner" role="status">
              <span class="sr-only" translate>Loading...</span>
            </div>
          </div>

          <button *ngIf="geselecteerdItem !=null && geselecteerdItem.beschikbaar" (click)="scanItem()" type="submit"
            class="btn btn-primary marginTop10 width100" tranlsate>{{'ontleenDitItem' | translate}}</button>
          <button *ngIf="geselecteerdItem !=null && !geselecteerdItem.beschikbaar" (click)="scanItem()" type="submit"
            class="btn btn-primary marginTop10 width100" tranlsate>{{'brengItemTerug' | translate}}</button>
          <app-item-info [item]=geselecteerdItem [itemAanHetLaden]=itemAanHetLaden></app-item-info>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadingError>
  <div class="row">
    <div class="col-2 offset-5 text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only" translate>Loading...</span>
      </div>
    </div>
  </div>
</ng-template>
