<!--<table class="table table-bordered">
  <tr [routerLink]="['/overview']" id="login">
    <td><i class="fas fa-book"></i>Overview
  </tr>
  <tr [routerLink]="['/scan']" id="scan">
    <td><i class="fas fa-qrcode"></i>Item scannen</td>
  </tr>
  <tr [routerLink]="['/itemsbeheren']" id="itemsbeheren">
    <td><i class="fas fa-globe"></i>Items beheren</td>
  </tr>
  <tr [routerLink]="['/account']" id="account">
    <td><i class="fas fa-user"></i>Mijn account</td>
  </tr>
</table>-->
<div class="row">
  <div [routerLink]="['/overview']" class="col-12 col-sm-3 col-md-12 menu-item">
    <p><i class="fas fa-book"></i>Overview</p>
  </div>
  <div [routerLink]="['/scan']" class="col-12 col-sm-3 col-md-12 menu-item">
    <p><i class="fas fa-qrcode"></i>Item scannen</p>
  </div>
  <div [routerLink]="['/itemsbeheren']" class="col-12 col-sm-3 col-md-12 menu-item">
    <p><i class="fas fa-globe"></i>Items beheren</p>
  </div>
  <div [routerLink]="['/account']" class="col-12 col-sm-3 col-md-12 menu-item">
    <p><i class="fas fa-user"></i>Mijn account</p>
  </div>
</div>
