<div class="row">
  <div [routerLink]="['/overview']" class="col-12 col-sm-3 col-md-12 menu-item">
    <p><i class="fas fa-book d-inline d-md-none d-lg-inline d-xl-inline"></i>Overview</p>
  </div>
  <div [routerLink]="['/scan']" class="col-12 col-sm-3 col-md-12 menu-item">
    <p><i class="fas fa-qrcode d-inline d-md-none d-lg-inline d-xl-inline"></i>Item scannen</p>
  </div>
  <div [routerLink]="['/itemsbeheren']" class="col-12 col-sm-3 col-md-12 menu-item">
    <p><i class="fas fa-globe d-inline d-md-none d-lg-inline d-xl-inline"></i>Items beheren</p>
  </div>
  <div [routerLink]="['/account']" class="col-12 col-sm-3 col-md-12 menu-item">
    <p><i class="fas fa-user d-inline d-md-none d-lg-inline d-xl-inline"></i>Mijn account</p>
  </div>
</div>
