<div class="row">
  <div class="col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4 offset-xl-4 col-xl-3">
    <h1 class="text-center">{{'login' | translate}}</h1>
    <div class="alert alert-danger" role="alert" [hidden]="!((loginFormulier.get('email')['errors'] && loginFormulier.get('email').touched ) || 
    (loginFormulier.get('wachtwoord')['errors'] && loginFormulier.get('wachtwoord').touched) || errorMessage != null) 
    ">
      <p class="marginBottom0" *ngIf="loginFormulier.get('email')['errors'] && loginFormulier.get('email').touched">
        {{ getErrorMessage(loginFormulier.get('email')['errors'], 'Emailadres') }}
      </p>
      <p class="marginBottom0"
        *ngIf="loginFormulier.get('wachtwoord')['errors'] && loginFormulier.get('wachtwoord').touched ">
        {{ getErrorMessage(loginFormulier.get('wachtwoord')['errors'], 'Wachtwoord') }}
      </p>
      <p class="marginBottom0" *ngIf="errorMessage != null">{{errorMessage}}</p>
    </div>
    <ng-container *ngIf="!loading; else loadingError">
      <form [formGroup]="loginFormulier" (ngSubmit)='logGebruikerIn()' class=" text-center">

        <input placeholder="{{'emailadres' | translate}}" type="email" class="form-control" id="email" formControlName="email">
        <input placeholder="{{'wachtwoord' | translate}}" type="password" class="form-control marginTop10" id="wachtwoord"
          formControlName="wachtwoord">
        <button type="submit" class="btn btn-primary col-12 marginTop10" [disabled]='!loginFormulier.valid'
        >{{'login' | translate}}</button>
        <a class="linkText" [routerLink]="['/wachtwoordvergeten']" id="wachtwoodvergeten">{{'wwvergeten' | translate}}</a>
      </form>
    </ng-container>
  </div>
</div>


<ng-template #loadingError>
  <div class="row">
    <div class="col-2 offset-5 text-center">
      <div class="spinner-border spinner" role="status">
        <span class="sr-only" translate>loading</span>
      </div>
    </div>
  </div>
</ng-template>
