<app-topbar></app-topbar>
<div class="row">
  <div class="offset-4 col-4">
    <h1 class="text-center">Login</h1>
    <!---------------------------------------------------------
    ***********************************************************
    ********************** ERRORS *****************************
    ***********************************************************
    ---------------------------------------------------------->
    <div class="alert alert-danger" role="alert" [hidden]="!((loginFormulier.get('email')['errors'] && loginFormulier.get('email').touched ) || 
    (loginFormulier.get('wachtwoord')['errors'] && loginFormulier.get('wachtwoord').touched))
    ">
      <p class="marginBottom0" *ngIf="loginFormulier.get('email')['errors'] && loginFormulier.get('email').touched">
        {{ getErrorMessage(loginFormulier.get('email')['errors'], 'Emailadres') }}
      </p>
      <p class="marginBottom0" *ngIf="loginFormulier.get('wachtwoord')['errors'] && loginFormulier.get('wachtwoord').touched ">
        {{ getErrorMessage(loginFormulier.get('wachtwoord')['errors'], 'Wachtwoord') }}
      </p>
    </div>
    <!---------------------------------------------------------
    ***********************************************************
    ********************* FORMULIER ***************************
    ***********************************************************
    ---------------------------------------------------------->
    <form [formGroup]="loginFormulier" (ngSubmit)='logGebruikerIn()'>
      <label for="email">Emailadres</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <label for="wachtwoord" class="marginTop10">Wachtwoord</label>
      <input type="password" class="form-control" id="wachtwoord" formControlName="wachtwoord">
      <button type="submit" class="btn btn-primary col-12 marginTop10" [disabled]='!loginFormulier.valid'>Login</button>
    </form>

  </div>
</div>
