.marginTop10 {
  margin-top: 10px;
}

.marginBottom0 {
  margin-bottom: 0px !important;
}

.form-control {
  border-color:red !important ;
}

.form-control.ng-untouched,
.form-control.ng-valid {
    border-color:  #ced4da !important;
}