ul {
  justify-content: center;
}

input[type="checkbox"] {
  width: 10% !important;
}

.marginLeft5 {
  margin-left: 5px;
}

th,
td {
  font-size: 4vw;

  .beschibaarIcon {
    font-size: 7vw !important;
  }
}

.editButtons {
  padding: 0px 2px;
  background-color: transparent !important;
  border: none;

  .yellowIcon {
    color: #ffd52d !important;
  }

  .roodIcon {
    color: #dc3545 !important;
  }

  .groenIcon {
    color: #28a745 !important;
  }

  i {
    font-size: 6vw !important;
  }
}


@media (min-width : 576px) {


  th,
  td {
    font-size: 1em;

    .beschibaarIcon {
      font-size: 1.5em !important;
    }
  }

  .editButtons {
    width: 100%;
    margin-left: 0px;
    margin-top: 5px;
    padding: 6px 12px !important;

    &.btn-danger {
      color: white;
      background-color: #dc3545 !important;
    }

    &.btn-success {
      color: white;
      background-color: #28a745 !important;
    }

    &.geleButton {
      color: black;
      background-color: #ffd52d !important;
    }

    .yellowIcon {
      color: black !important;

    }

    .roodIcon {
      color: white !important;
    }

    .groenIcon {
      color: white !important;
    }

    i {
      font-size: 1em !important;
    }
  }
}

@media (min-width : 576px) {

  th,
  td {
    font-size: 1em;

    .beschibaarIcon {
      font-size: 1.5em !important;
    }
  }

  .editButtons {
    width: 100%;
    margin-left: 0px;
    margin-top: 5px;
    padding: 6px 12px !important;

    &.btn-danger {
      color: white;
      background-color: #dc3545 !important;
    }

    &.btn-success {
      color: white;
      background-color: #28a745 !important;
    }

    &.geleButton {
      color: black;
      background-color: #ffd52d !important;
    }

    .yellowIcon {
      color: black !important;

    }

    .roodIcon {
      color: white !important;
    }

    .groenIcon {
      color: white !important;
    }

    i {
      font-size: 1em !important;
    }
  }
}

@media (min-width : 768px) {
  .editButtons {
    width: auto;
    margin-right: 5px;
  }
}
