/* You can add global styles to this file, and also import other style files */

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  border: none !important;
  background-color: #0f754e !important;
}

.btn-primary:hover:enabled {
  background-color: #ffd52d !important;
  color: black;
}

.marginTop10 {
  margin-top: 10px;
}

.marginBottom0 {
  margin-bottom: 0px !important;
}

.marginLeft5 {
  margin-left: 5px;
}

.no-padding {
  padding: 0 !important;
}

.btn-danger {
  color: white !important;
}

.hoverUnderline {
  &:hover {
    text-decoration: underline;
  }
}

.width100{
  width: 100%;
}