/* You can add global styles to this file, and also import other style files */
$groen: #0f754e;
$geel: #ffd52d;

div,
table,
td,
tr,
th {
  border: 1px solid red;
}

.btn-primary {
  border: none !important;
  background-color: $groen !important;

  &:visited {
    color: black !important;
  }

  &:hover {

    &:enabled {
      background-color: $geel !important;
      color: black;
    }
  }

  &:active {
    color: black !important;
  }

  &.geleButton {
    background-color: $geel !important;
    color: black !important;
  }
}


.marginTop10 {
  margin-top: 10px;
}

.marginBottom0 {
  margin-bottom: 0px !important;
}

.marginLeft5 {
  margin-left: 5px;
}

.no-padding {
  padding: 0 !important;
}

.btn-danger {
  color: white !important;
}

.hoverUnderline {
  &:hover {
    text-decoration: underline;
  }
}

.width100 {
  width: 100%;
}

.border1pxSolidBlack {
  border: 1px solid black;
}

.linkText {
  color: $groen !important;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
